@tailwind base;
@tailwind utilities;
@tailwind components;


.parentFormUser {
    @apply bg-white shadow-md rounded-md py-4 px-5 xl:w-11/12 m-auto xl:mt-4
}

.parentInputUser {
    @apply xl:flex xl:gap-4 xl:w-full
    lg:flex lg:flex-row lg:gap-4 lg:w-10/12
    md:flex md:flex-col 
    flex flex-col gap-y-4
    
}

.child {
    @apply flex flex-col w-full
}

.select {
    @apply border-2 py-2 mt-2 rounded-md px-2 flex justify-between items-center shadow-md  w-11/12 ml-7
}
label{
    @apply ml-2
}

.parentCaretDown{
    @apply rotate-180 duration-300
}

.parentOption{
    @apply bg-gray-50 z-50   py-2 mt-2 rounded-md px-2 duration-300  shadow-md w-4/12 left-4
}

.option{
    @apply border-2 py-3 mt-2 rounded-md px-2 cursor-pointer hover:bg-white 
}


.parentLogin{
    @apply bg-white   m-auto rounded-md shadow-lg
    /* mobile */
    w-11/12 py-6 px-5 mt-32

    /* ipad */
    md:w-7/12
    /* laptop */
    lg:w-6/12

    /* large_laptop */
    xl:w-4/12
}
.head{
    @apply 
    
    
    text-4xl text-center pb-4
}

.parentInput{
    @apply flex flex-col gap-y-2
}

.inputLogin{
    @apply 
    
    /* mobile */
    border-2 outline-none focus:border-indigo-400 shadow-md p-2 mt-2  rounded-md z-40
}
.parentBtn{
    @apply m-auto w-full
}

.btn{
    @apply bg-teal-500 w-full mt-4 text-white py-2 px-4 rounded-md shadow-md
}